body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    position: fixed;
    width: 100%;
    height: calc(100% - 85px);
    top: 85px;
    left: 0;
}

#sidebar {
    position: absolute;
    display: none;
    top: 100px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
}

#sidebar input {
    display: block;
    margin-bottom: 8px;
    padding: 5px;
    width: 180px;
}

#sidebar button {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

#favoritesList {
    background-color: white;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

/* UIC Themed Styles */

.uic-logo {
    height: 80px;
    margin-bottom: 10px;
}

#my-location {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50;
}

#my-location img {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.building-list {
    font-size: 1em;
}